[*.{kt,kts}]
ktlint_code_style = android_studio
ij_kotlin_allow_trailing_comma=true
ij_kotlin_allow_trailing_comma_on_call_site=true
ktlint_standard_property-naming = disabled
ktlint_function_naming_ignore_when_annotated_with = Composable

[build/**]
ktlint = disabled

[**/build/**]
ktlint = disabled
