<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".widget.MusicWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_widget_info" />
        </receiver>

        <activity
            android:name=".player.MusicPlayerActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Material.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
